flight-service/src/main/resources/wsdl/aircraft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/soapaircraft"
    xmlns:tns="http://example.com/soapaircraft"
    elementFormDefault="qualified">

    <xsd:complexType name="aircraft">
        <xsd:sequence>
            <xsd:element name="aircraftId" type="xsd:long"/>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="model" type="xsd:string"/>
            <xsd:element name="seatCapacity" type="xsd:int"/>
            <xsd:element name="isActive" type="xsd:boolean"/>
            <xsd:element name="createdAt" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="getAircraftsRequest">
        <xsd:complexType/>
    </xsd:element>

    <xsd:element name="getAircraftsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="aircraft"
                             type="tns:aircraft"
                             minOccurs="0"
                             maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getAircraftRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="aircraftId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getAircraftResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="aircraft"
                             type="tns:aircraft"
                             minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>